<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h1>LIST</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">글번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="list: ${list}">
                <tr>
                    <td><span th:text="${list.id}"></span></td>
                    <td><a th:href="@{|/detail/${list.id}|}"><span th:text="${list.title}"></span></a> </td>
                    <td><span th:text="${list.userid}"></span></td>
                    <td><span th:text="${list.cnt}"></span></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-danger" th:onclick="|location.href='@{/register}'|">등록</button>
        </div>
    </div>
    <div class="col-4"></div>
</div>
</body>
</html>
